{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная | PhotoRating{% endblock %}

{% block head %}
<div class="head_index">
    <a href=""><div class="Logo">
        <div class="Logo_index_first">PHOTO</div>
        <br>
        <div class="Logo_index_second">RATING</div>
    </div>
    </a>
    <div class="style_menu">
        <a href="">Главная</a>
        <a href="">Фотографы</a>
        <a href="">Рейтинг</a>
        <a href="">О нас</a>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}