{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Новости | PhotoRating{% endblock %}

{% block head %}
    <div class="head_index">
        <div class="Logo">
            <a href="{% url 'news_home' %}">
                <div class="Logo_index_first">PHOTO</div>
                <br>
                <div class="Logo_index_second">RATING</div>
            </a>
        </div>

        <div class="style_menu">
            <a href="{% url 'news_home' %}">Главная</a>
            <a href="{% url 'photographers' %}">Фотографы</a>
            <a href="{% url 'rating_view' %}">Рейтинг</a>
            <a href="">О нас</a>
        </div>

    {% if user.is_authenticated %}
        <div class="dropdown">
            <button  class="dropbtn" id="dropdownBtn">
              <div class = "User_photo_btn">
                  <img src="{{ user.userprofile.Avatar.url }}" alt="">
              </div>
              <div class="btn_name_setting">
                  {{ user.first_name }} <i class="fa fa-sort-desc" aria-hidden="true"></i>
              </div>
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'user_profile' %}">Настройки</a>
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        </div>
    {% else %}
        <div class="login_head">
            <a href="{% url 'login' %}">Войти/Регистрация</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}

{% if news %}
    {% for el in news %}
        <div class = "position_news">
            <div class = "setting_news">
                <div class="User_setting">
                    <div class = "User_photo">
                        <img src="{% static '/index/img/BaBqvohv4M4.jpeg' %}" alt="">
                    </div>
                    <div class="Position_Name_Date">
                        <div class="User_container_name">
                            <div class="User_name">
                                <a href="">{{ el.author.first_name }} {{ el.author.last_name }}</a>
                            </div>
                        </div>
                        <div class="User_container_date">
                            <div class="User_date">
                                {{ el.data }}
                            </div>
                        </div>
                    </div>

                </div>
                {% if el.image %}
                    <img src="{{ el.image.url }}" class="setting_img">
                {% endif %}
                {% if el.image_url %}
                    <img src="{{ el.image_url }}" class="setting_img">
                {% endif %}
                    <div class="like_and_comment">
                        <div class="like"><i class="fa fa-heart" aria-hidden="true">{{ el.like }}</i></div>
                        <button id="CommentsButtonIs" class="comment" onclick="opencomment('open_comments')"><i class="fa fa-comments" aria-hidden="true"></i></button>
                    </div>
            <form method="post">
                    {% csrf_token %}
                    <div id="open_comments">
                        <input type="text" name="comments" class="comment_input" id="myComment" placeholder="Написать комментарий..."></input>
                        <button type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class = "position_news">
            <div class="no_have_news">
                <H3>У вас нет записей</H3>
            </div>
        </div>
    {% endif %}
{% endblock %}