.Registr_window_position{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Registr_background {
    background: rgba(31, 31, 31, 0.7);
    border: 0px solid;
    border-color: #eeeeee;
    border-radius: 8px;
    width: 35%;
    margin: 1% auto;

}
.Registr_head {
    width: 100%;
    text-align: center;
    color: black;
    margin: 0 auto;
}
.Registr_logo{
    color: white;
    margin: auto;
    padding: 0px;

}
.Logo_registr {
    padding: 3%;
    font-size: 20px;
}
.Registr_position{
    width: 80%;
    margin: auto;
}
.Registr_button {
    display: flex;
    width: 100%;

}
.Registr_button_style{
    background: #1f1f1f;
    color: white;
    border: 0px;
    border-radius: 7px;
    padding: 2% 4% 2% 4%;
}
.form-control-registr {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0px;
    border-radius: 6px;
    border: 0px solid #dadada;
    color: white;
}
p {
    margin: auto;
    margin-bottom: 1rem;
}
